@model IEnumerable<DataAccess.Models.Product>

@{
    ViewData["Title"] = "Category Products";
    var categoryName = Model.FirstOrDefault()?.Category?.Title ?? "UnKnown Category";
    Layout = "_CategoryLayout";
}

<body>
    @if (!Model.Any())
    {
        <p>there is no product in this category</p>
    }
    else
    {
        <div class="menu-container">
            @foreach (var item in Model)
            {
                <div class="main">

                    @if (!string.IsNullOrEmpty(item.Img))
                    {
                        <img src="/api/File/GetFile?filename=@item.Img" alt="@item.Title" />
                    }
                    <div class="des">
                        <span class="item-name">@item.Title</span>
                        <span class="item-price">@item.Price</span>
                        <p class="item-description">@item.Description</p>
                    </div>
                    <a class="detail" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @* <a onclick="AddToCart" class="credit">Add to cart</a> *@
                </div>
            }
        </div>
    }

</body>